<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div id="top"></div>

<div style=" flex-direction: row">
    <div id="rectangle1" class="column" style="float: left">
        <h2><a href="/department">Departments</a></h2>

        <div th:insert="/department/departmentsTree :: tree"
             th:with="departments = ${rootDepartments}"></div>
    </div>

    <div id="rectangle2" class="column" style="float: right">
        <div style="width: 20%; height: 100%"></div>

        <div style="flex-direction: column;align-items: center;justify-content: center;">
            <h2 th:text="${selectedDepartment == null ? 'Add root department' : 'Add child department'}"></h2>

            <form th:method="POST"
                  th:action="@{/department/create(parentId = ${selectedDepartment == null ? null : selectedDepartment.getId()})}"
                  th:object="${newDepartment}">

                <!--/*@thymesVar id="createErrors" type="java.util.List<java.lang.String>"*/-->
                <ul th:if="${createErrors != null && createErrors.size() > 0}"
                    style="width: 100%; color: red">
                    <li th:each="error : ${createErrors}"
                        th:text="${error}"></li>
                </ul>

                <label for="newDepartmentName"
                       style="font-size: large">Name: </label>
                <input type="text" style="font-size: large" th:field="*{name}"
                       id="newDepartmentName"/>

                <input class="button clear" type="submit"
                       value="🆕"/>
            </form>

            <h2 th:if="${selectedDepartment != null}">Edit
                department</h2>

            <form th:if="${selectedDepartment != null}"
                  th:method="PATCH"
                  th:action="@{/department/edit/{id}(id=${selectedDepartment.getId()})}"
                  th:object="${selectedDepartment}">

                <!--/*@thymesVar id="editErrors" type="java.util.List<java.lang.String>"*/-->
                <ul th:if="${editErrors != null && editErrors.size() > 0}"
                    style="width: 100%; color: red">
                    <li th:each="error : ${editErrors}" th:text="${error}"></li>
                </ul>

                <label for="name" style="font-size: large">Name: </label>
                <input type="text" style="font-size: large" th:field="*{name}"
                       id="name"/>

                <input class="button clear" type="submit"
                       value="🔄"/>

            </form>
            <form style="margin-left: auto"
                  th:if="${selectedDepartment != null}"
                  th:method="DELETE"
                  th:action="@{/department/delete/{id}(id=${selectedDepartment.getId()})}"
                  th:object="${selectedDepartment}">

                <input class="button clear" type="submit"
                       value="🗑"/>
            </form>
            <h3 th:if="${selectedDepartment != null}"><a
                    th:href="@{/user/(departmentId = ${selectedDepartment.getId()})}">Department
                users</a>
            </h3>
        </div>

        <div style="width: 20%; height: 100%"></div>
    </div>
</div>
<div id="bottom"></div>
</body>
</html>